@import '../../colors.scss';

.navbar {
  background-color: $primary-00;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 100;

  &__container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  &__logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__links {
    display: flex;
    gap: 3rem;
    list-style: none;

    li a {
      text-decoration: none;
      font-weight: 500;
      color: $text-primary;
      transition: color 0.3s;

      &:hover {
        color: $primary-500;
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__cta {
    Button {
      width: 150px;
      padding: 10px;
      color: white;
      border: none;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border-radius: 10px;
      transition: 0.5s;
      background-color: $primary-500;

      &:hover {
        background-color: $primary-700;
        box-shadow: 0 15px 40px rgba(59, 130, 246, 0.2);
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__menu-btn {
  background: none;
  border: none;
  display: none;
  transition: transform 0.3s ease, opacity 0.3s ease;

  svg {
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  @media (max-width: 768px) {
    display: block;
  }
}

&__mobile-menu {
  position: absolute; // or 'fixed' for full viewport overlay
  top: 100%;           // just below the navbar
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #ffffff;
  overflow: hidden;
  gap: 4rem;
  max-height: 0;
  transition: max-height 0.4s ease;
  padding: 0 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    margin: 1rem 0;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: #0070f3;
    }
  }

  &.open {
    max-height: 1000px;
    padding-bottom: 1rem;
    justify-content: space-around;
  }
}



  &__mobile-btn {
    width: 150px;
    margin-top: 0.5rem;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 20px;
    background-color: blue;
    transition: 0.5s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px;

    &:hover {
      background-color: #fff;
      color: #000;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
}
